html,
body {
    margin: 0px;
}

/* Background video for the home page */
video#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    z-index: -100;
    background-size: cover;
}
#fade{
    background: rgba(0, 0, 0, 0.438);
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    z-index: -100;
    background-size: cover;
}

.content{
    background: rgba(255, 255, 255, 0.5);
    /* text-align: center; */
    padding:20px;
    font-size: 25px;
    border-radius: 20px;
    
}

/* .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    text-align: center;
} */

/* ======== Google Map ======== */

#googleMaps {
    width: 100%;
}

/* ======== Sticky Footer ======== */
body {
    display: flex;
    min-height: 100%;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  #indexBar{
      padding: 0;
      margin:0;
  }
  .navBar{
    padding: 0;
    margin:0;
  }
